html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #D7ECD9;
    min-height: calc(100vh - 80px - 60px); 
    padding: 30px 20px;
    flex: 1;
}

footer {
    margin-top: auto;
}

