header {
    background-color: #F4F8F7;
    padding: 15px 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:first-child {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1E5253;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    text-decoration: none;
    color: #1E5253;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
}

header nav a:hover {
    color: #328282;
}

header nav a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #1E5253;
    transition: width 0.3s ease, left 0.3s ease;
}

header nav a:hover::before {
    width: 100%;
    left: 0;
}

header > div:last-child {
    cursor: pointer;
    position: relative;
}

header .dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #F4F8F7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}

header .dropdown a, header .dropdown button {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    color: #1E5253;
}

header .dropdown button:hover {
    color: #328282;
}

