body {
  margin: 0;
  font-family: 'Roboto', sans-serif;  
  background-color: #D7ECD9;  
  color: #445C34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #E8F6F3;
  color: #445C34;
  padding: 2px 5px;
  border-radius: 3px;
}

